<div style=" background-image: url(assets/pale.jpg)">
  <!-- ===========================================================UPPER PART START===========================================================-->
  <br>
  <div class="row centered nogaps">
    <div class="col-sm-1"></div>

    <div class="col-sm-10" style="background-color:transparent;margin: 0px; padding:0px 10px 0px 0px; ">
      <div class="row centered nogaps myshadowItem" style="background-color:#0984e3">
        <div class="col-sm-3">
          <h3 style=" color: #f53e3e; font-family:impact; margin-top: 8px; margin-bottom: 4px; text-shadow: 1px 1px 2px black, 0 0 1em #ee5253;">{{theData.price}} из 36625 </h3>

        </div>
        <div class="col-sm-6 centered ">
          <i>
            <h2 style="color: #f53e3e; font-weight: bold;  font-family: impact; margin-top: 8px; margin-bottom: 4px; text-shadow: 1px 1px 2px black, 0 0 1em #ee5253;">КИТАЙСКИЙ НОВЫЙ ГОД</h2>
          </i>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-1">
          <button class="btn btn-basic" (click)="reset()" style="margin-top: 6px;">Сбросить</button>
        </div>
      </div>

      <!--2017 golden START-->
      <div class="row" style="margin: 25px 0px; padding:0px;">

        <div class="col-sm-1" style=" height:200px; padding-left:0px;">
          <div class="myshadowItem" style=" transform:rotate(180deg); width:110px; height:100%; writing-mode: tb-rl; padding-right:43px; background-color:#ffd700">
            <h4 style="font-family:impact; margin-top:6px; margin-bottom:0px; margin-left:0px; margin-right:0px;">ЛЕГЕНДАРНЫЕ 2018</h4>
          </div>
        </div>

        <div class="col-sm-11 nogaps">
          <div style="display:flex; justify-content: space-between;  width:100%; align-items:center; margin: 0px; padding:0px">
            <!--generate start-->
            <div *ngFor="let theitem of theData.goldSkins2018;" style="display:inline" class="myshadow1">
              <div style="display:inline-block; background-color:blue; justify-content: center; width:200px; height:200px; position:relative">
                <img src="assets/china/{{theitem.image}}">
                <input class="check skinfatinput " id={{theitem.name}} type="checkbox" (click)="saveSkin(theitem)" [ngModel]="theitem.isChecked"
                  style="position: absolute; top:0px; left:0px; z-index:-1">
                <label class="skinfatlabel" for={{theitem.name}} style="position: absolute; top:0px; left:0px; z-index:2;" title={{theitem.price}}></label>
              </div>
            </div>
            <!--generate end-->
          </div>
        </div>

      </div>
      <!--2017 golden END-->

      <!--2016 gold START-->
      <div class="row" style="margin: 25px 0px; padding:0px">

        <div class="col-sm-1" style=" height:200px; padding-left:0px;">
          <div class="myshadowItem" style=" transform:rotate(180deg); width:110px; height:100%; writing-mode: tb-rl; padding-right:43px; background-color:#ffd700">
            <h4 style="font-family:impact; margin-top:6px; margin-bottom:0px; margin-left:0px; margin-right:0px;">ЛЕГЕНДАРНЫЕ 2017</h4>
          </div>
        </div>

        <div class="col-sm-11 nogaps">
          <div class="nogaps" style="display:flex; justify-content: space-between;  width:100%; align-items:center;">
            <!--generate start-->
            <div *ngFor="let theitem of theData.goldSkins2017;" class="myshadow1" style="display:inline">
              <div style="display:inline-block; background-color:blue; justify-content: center; width:170px; height:200px; position:relative">
                <img src="assets/china/{{theitem.image}}">
                <input class="check skininput" id={{theitem.name}} type="checkbox" (click)="saveSkin(theitem)" [ngModel]="theitem.isChecked"
                  style="position: absolute; top:0px; left:0px; z-index:-1">
                <label class="skinlabel" for={{theitem.name}} style="position: absolute; top:0px; left:0px; z-index:2;" title={{theitem.price}}></label>
              </div>
            </div>
            <!--generate end-->
          </div>
        </div>

      </div>
      <!--2016 gold END-->

      <!--2016 purple START-->
      <div class="row" style="margin: 25px 0px; padding:0px">

        <div class="col-sm-1" style=" height:200px; padding-left:0px;">
          <div class="myshadowItem" style=" transform:rotate(180deg); width:110px; height:100%; writing-mode: tb-rl; padding-right:43px; background-color:rgb(237, 60, 250)">
            <h3 style="font-family:impact; margin-top:5px; margin-bottom:0px; margin-left:0px; margin-right:0px;">ЭПИЧЕСКИЕ 2017</h3>
          </div>
        </div>

        <div class="col-sm-11 nogaps">
          <div class="nogaps" style="display:flex; justify-content: space-between; width:100%; align-items:center">
            <!--generate start-->
            <div *ngFor="let theitem of theData.purpleSkins2017;" class="myshadow1" style="display:inline">
              <div style="display:inline-block; background-color:blue; justify-content: center; width:200px; height:200px; position:relative">
                <img src="assets/china/{{theitem.image}}">
                <input class="check skinfatinput" id={{theitem.name}} type="checkbox" (click)="saveSkin(theitem)" [ngModel]="theitem.isChecked"
                  style="position: absolute; top:0px; left:0px; z-index:-1">
                <label class="skinfatlabel" for={{theitem.name}} style="position: absolute; top:0px; left:0px; z-index:2;" title={{theitem.price}}></label>
              </div>
            </div>
            <!--generate end-->
          </div>
        </div>

      </div>
      <!--2016 purple END-->

    </div>






    <div class="col-sm-1" style="display:flex; justify-content:flex-end;"></div>
  </div>
  <!-- ===========================================================UPPER PART END===========================================================-->


  <!-- ===========================================================LOWER PART START=========================================================-->

  <!--Header START-->
  <div class="row" style="margin: 10px 20px; padding:0px;">
    <div class="col-sm-2 gap5padd centered">
      <div class="nogaps centered myshadowItem" style="background-color:#0984e3; width:100%; height:25px;">
        <h5 style="color:white">Герой</h5>
      </div>
    </div>
    <div class="col-sm-10" style="margin: 0px; padding:0px;">
      <div class="row" style="margin: 0px; padding:0px;">
        <div class="col-sm-3 gap5padd centered">
          <div class="nogaps centered myshadowItem" style="background-color:#0984e3; width:100%; height:25px;">
            <h5 style="color:white">Реплика 2016 [25]</h5>
          </div>
        </div>
        <div class="col-sm-3 gap5padd centered">
          <div class="nogaps centered myshadowItem" style="background-color:#0984e3; width:100%; height:25px; ">
            <h5 style="color:white">Реплика 2017 [75]</h5>
          </div>
        </div>
        <div class="col-sm-3 gap5padd centered">
          <div class="nogaps centered myshadowItem" style="background-color:#0984e3; width:100%; height:25px;">
            <h5 style="color:white">Граффити 2016 [25]</h5>
          </div>
        </div>
        <div class="col-sm-3 gap5padd centered">
          <div class="nogaps centered myshadowItem" style="background-color:#0984e3; width:100%; height:25px;">
            <h5 style="color:white">Граффити 2017 [25]</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Header END-->

  <!--Heroes START-->
  <div class="row" style="display:block; margin: 10px 20px; padding:0px; height:20px; ">

    <div *ngFor="let hero of theData.allHeroes;">

      <div class="row" style="margin: 10px 0px; padding:0px; height:20px; ">
        <div class="col-sm-2 gap5padd centered">
          <div class="nogaps centered myshadowItem" style="background-color:#74b9ff; width:100%; height:25px;">
            <b>{{hero.heroName}}</b>
          </div>
        </div>
        <div class="col-sm-10 nogaps">
          <div class="row nogaps">
            <div class="col-sm-3 centered gap5padd">
              <div class="nogaps centered myshadowItem" style="background-color:#74b9ff; width:100%; height:25px; ">
                {{hero.voiceline1.title}}
              </div>
              <input class="check textinput" id={{hero.voiceline1.id}} type="checkbox" (click)="saveItem(hero.voiceline1)" [ngModel]="hero.voiceline1.isChecked"
                style="position: absolute; top:0px; left:0px; z-index:-1;">
              <label class="textlabel" for={{hero.voiceline1.id}} style="position: absolute; top:0px; left:0px; z-index:2;" title={{hero.voiceline1.price}}></label>
            </div>
            <div class="col-sm-3 centered gap5padd">
              <div class="nogaps centered myshadowItem" style="background-color:#74b9ff; width:100%; height:25px; ">
                {{hero.voiceline2.title}}
              </div>
              <input class="check textinput" id={{hero.voiceline2.id}} type="checkbox" (click)="saveItem(hero.voiceline2)" [ngModel]="hero.voiceline2.isChecked"
                style="position: absolute; top:0px; left:0px; z-index:-1;">
              <label class="textlabel" for={{hero.voiceline2.id}} style="position: absolute; top:0px; left:0px; z-index:2;" title={{hero.voiceline2.price}}></label>
            </div>
            <div class="col-sm-3 centered gap5padd">
              <div class="nogaps centered myshadowItem" style="background-color:#74b9ff; width:100%; height:25px; ">
                {{hero.spray1.title}}
              </div>
              <input class="check textinput" id={{hero.spray1.id}} type="checkbox" (click)="saveItem(hero.spray1)" [ngModel]="hero.spray1.isChecked"
                style="position: absolute; top:0px; left:0px; z-index:-1">
              <label class="textlabel" for={{hero.spray1.id}} style="position: absolute; top:0px; left:0px; z-index:2;" title={{hero.spray1.price}}></label>
            </div>
            <div class="col-sm-3 centered gap5padd">
              <div class="nogaps centered myshadowItem" style="background-color:#74b9ff; width:100%; height:25px; ">
                {{hero.spray2.title}}
              </div>
              <input class="check textinput" id={{hero.spray2.id}} type="checkbox" (click)="saveItem(hero.spray2)" [ngModel]="hero.spray2.isChecked"
                style="position: absolute; top:0px; left:0px; z-index:-1">
              <label class="textlabel" for={{hero.spray2.id}} style="position: absolute; top:0px; left:0px; z-index:2;" title={{hero.spray2.price}}></label>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--Heroes END-->

  <!-- ===========================================================LOWER PART END===========================================================-->


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--Icons START-->
  <div class="row myshadowItem centered" style="margin: 10px 25px; padding:0px; height:25px; background-color:#0984e3">
    <h5 style="color:white"> Иконки</h5>
  </div>

  <div class="row" style=" margin: 10px 20px; padding:0px;">

    <div   *ngFor="let theicon of theData.allIcons;" style="display:inline">
      <div class="col-sm-1" style="padding-left:5px; padding-right:5px; margin-bottom:10px;">
        <div class="myshadowItem centered" style="background-color:#74b9ff; width:197px; height:25px; ">
          {{theicon.title}}
        </div>
        <input class="check textinput" id={{theicon.id}} type="checkbox" (click)="saveItem(theicon)" [ngModel]="theicon.isChecked"
          style="position: absolute; top:0px; left:0px; z-index:-1">
        <label class="textlabelIcon" for={{theicon.id}} style="position: absolute; margin-left:4px; top:0px; left:0px; z-index:2;"
          title={{theicon.price}}></label>
      </div>

    </div>
  </div>
  <!--Icons END-->

  <br>


  <!--Poses START-->
  <div class="row myshadowItem centered" style="margin: 10px 25px; padding:0px; height:25px; background-color:#0984e3">
    <h5 style="color:white"> Позы</h5>
  </div>

  <div class="row" style=" margin: 10px 20px; padding:0px;">

    <div *ngFor="let thepose of theData.allPoses;" style="display:inline">
      <div class="col-sm-1" style="padding-left:5px; padding-right:5px; margin-bottom:10px;">
        <div class="myshadowItem centered" style="background-color:#74b9ff; width:300px; height:25px; ">
          {{thepose.title}} [{{thepose.price}}]
        </div>
        <input class="check textinput" id={{thepose.id}} type="checkbox" (click)="saveItem(thepose)" [ngModel]="thepose.isChecked"
          style="position: absolute; top:0px; left:0px; z-index:-1">
        <label class="textlabelPose" for={{thepose.id}} style="position: absolute; margin-left:4px; top:0px; left:0px; z-index:2;"
          title={{thepose.price}}></label>
      </div>

    </div>
  </div>
  <!--Poses END-->

  <br>


  <!--Sprays START-->
  <div class="row myshadowItem centered" style="margin: 10px 25px; padding:0px; height:25px; background-color:#0984e3">
    <h5 style="color:white"> Граффити</h5>
  </div>

  <div class="row" style=" margin: 10px 20px; padding:0px;">

    <div *ngFor="let thespray of theData.allSprays;" style="display:inline">
      <div class="col-sm-1" style="padding-left:5px; padding-right:5px; margin-bottom:10px;">
        <div class="myshadowItem centered" style="background-color:#74b9ff; width:222px; height:25px; ">
          {{thespray.title}} [{{thespray.price}}]
        </div>
        <input class="check textinput" id={{thespray.id}} type="checkbox" (click)="saveItem(thespray)" [ngModel]="thespray.isChecked"
          style="position: absolute; top:0px; left:0px; z-index:-1">
        <label class="textlabelSpray" for={{thespray.id}} style="position: absolute; margin-left:4px; top:0px; left:0px; z-index:2;"
          title={{thespray.price}}></label>
      </div>

    </div>
  </div>
  <!--Sprays END-->

  <br>

  <!--Emotes START-->
  <div class="row myshadowItem centered" style="margin: 10px 25px; padding:0px; height:25px; background-color:#0984e3">
    <h5 style="color:white"> Эмоции</h5>
  </div>

  <div class="row" style=" margin: 10px 20px; padding:0px;">
    <div *ngFor="let theemote of theData.allEmotes;" style="display:inline">
      <div class="col-sm-1" style="padding-left:5px; padding-right:6px; margin-bottom:10px;">
        <div class="myshadowItem centered" style="background-color:#74b9ff; width:361px; height:25px; ">
          {{theemote.title}} [{{theemote.price}}]
        </div>
        <input class="check textinput" id={{theemote.id}} type="checkbox" (click)="saveItem(theemote)" [ngModel]="theemote.isChecked"
          style="position: absolute; top:0px; left:0px; z-index:-1">
        <label class="textlabelEmote" for={{theemote.id}} style="position: absolute; margin-left:4px; top:0px; left:0px; z-index:2;"
          title={{theemote.price}}></label>
      </div>

    </div>
  </div>
  <!--Emotes END-->


  <br>

  <!--POTG START-->
  <div class="row myshadowItem centered" style="margin: 10px 25px; padding:0px; height:25px; background-color:#0984e3">
    <h5 style="color:white"> Лучший момент матча</h5>
  </div>

  <div class="row" style=" margin: 10px 20px; padding:0px;">      
      <div class="container-fluid nogaps">
        <div class="row" style="margin:0px">
        <div class="col-3" *ngFor="let themoment of theData.allMoments;" style="padding-left:5px; padding-right:5px;">
            <div class="myshadowItem centered" style="background-color:#74b9ff;  height:25px; ">
                {{themoment.title}} [{{themoment.price}}]
              </div>
              <input class="check textinput" id={{themoment.id}} type="checkbox" (click)="saveItem(themoment)" [ngModel]="themoment.isChecked"
                style="position: absolute; top:0px; left:0px; z-index:-1">
              <label class="textlabelEmote" for={{themoment.id}} style="position: absolute; margin-left:0px; top:0px; left:0px; z-index:2;"
                title={{themoment.price}}></label>
        </div>
      </div>
      </div>
  </div>
  <!--POTG END-->
  <br>
</div>