.check1{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.padd{
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[id="testid"] {    width: 0px;    height: 0px;
}
input[id="testid"] + label {
    
    width: 20px;
    height: 20px;
}
input[id="testid"]:checked + label {
    background: url("http://underconstruction.xp3.biz/overwatchwinter/yes.jpg") 0 0 no-repeat;
}








.plusminusinput{width: 0px; height: 0px;} 
    
    label.plusminuslabel
    {
        width: 30px;
        height: 30px;
    }
    
    input.check:checked + label.plusminuslabel 
    {
        background: url("http://underconstruction.xp3.biz/plus.jpg") 0 0 no-repeat;
    }

    input.check + label.plusminuslabel 
    {
        background: url("http://underconstruction.xp3.biz/minus.jpg") 0 0 no-repeat;
    }