<div class="container-fluid">

  <div class="row">

    <div class="col-sm-1" style="background-color:rgb(0, 255, 64); ">
      <div style="transform:rotate(-90deg); width:200px; height:100%;">
        11111 22222 33333 44444 5555
      </div>
    </div>

    <div class="col-sm-10" style="height:200px; background-color:red;">
    </div>
    <!--CARD START-->
    <div class="card effect8" style="margin: 20px; width:100%;">
        <div class="card-header">
          <input class="check plusminusinput" id="tezzt" type="checkbox" (click)="openClose()" style="position: absolute; top:0px; left:0px; z-index:1">
          <label class="plusminuslabel" for="tezzt" style="position: absolute; top:0px; left:0px; z-index:2;"></label>
        </div>
        <div class="card-block" id="hideme">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <!--CARD END-->
  </div>

</div>