<div class="container-fluid" style="margin: 0px; padding:0px; ">

        <div class="row" style="margin: 0px; padding:0px; border-style: solid; background-color:black;">          
          <div class="col-sm-11" style="margin: 0px; padding:0px;">
          <a class="btn" routerLink="/china" style="margin-left:10px; background-color:#f53e3e; color:white">Китайский Новый Год [февраль]</a>
          <a class="btn" routerLink="/archives" style="margin-left:10px; background-color:#5f27cd; color:white">Архивы OVERWATCH [апрель]</a>
          <a class="btn" routerLink="/anniversary" style="margin-left:10px; background-color:rgb(211, 150, 57); color:white">Годовщина OVERWATCH [май]</a>
          <a class="btn" routerLink="/summer" style="margin-left:10px; background-color:rgb(49, 161, 59); color:white">Летние игры [август]</a>
          <a class="btn" routerLink="/halloween" style="margin-left:10px; background-color:rgb(245, 124, 26); color:white">Хэллоуин [октябрь]</a>
          <a class="btn" routerLink="/christmas" style="margin-left:10px; background-color:rgb(18, 124, 245); color:white">Зимняя сказка [декабрь]</a>
          </div>
          <div class="col-sm-1" style="margin: 0px; padding:0px;">
            <a href="https://www.toornament.com/tournaments/1317867348785086464/information">
              <!–– img src="/assets/ovl.png"––>
            </a>
          </div> 
        </div>


        
        <router-outlet></router-outlet>
        


  </div>