<div class="container-fluid" style="margin: 0px; padding:0px; ">

        <div class="row" style="margin: 0px; padding:0px; border-style: solid; background-color:black;">
          <!-- <a class="btn btn-primary" routerLink="/first" style="margin-left:0px;">Рождество</a> -->
          <a class="btn" routerLink="/china" style="margin-left:10px; background-color:#f53e3e; color:white">Китайский Новый Год</a>
          <a class="btn" routerLink="/china" style="margin-left:10px; background-color:#5f27cd; color:white">Мятеж</a>
          <a class="btn" routerLink="/china" style="margin-left:10px; background-color:rgb(25, 216, 41); color:white">Летние игры</a>
          <a class="btn" routerLink="/china" style="margin-left:10px; background-color:rgb(245, 124, 26); color:white">Хэллоуин</a>
          <a class="btn" routerLink="/china" style="margin-left:10px; background-color:rgb(18, 124, 245); color:white">Зимняя сказка</a>
        </div>


        
        <router-outlet></router-outlet>
        


  </div>