.skininput{width: 0px; height: 0px;} 
    
    label.skinlabel
    {
        width: 200px;
        height: 200px;
    }
    
    input.check:checked + label.skinlabel 
    {
        background: url("http://underconstruction.xp3.biz/snow.png") 0 0 no-repeat;
    }

    .textinput{width: 0px; height: 0px;} 
    
    label.textlabel
    {
        width: 380px;
        height: 20px;
    }
    
    input.check:checked + label.textlabel 
    {
        background: url("http://underconstruction.xp3.biz/redline.png") 0 0 no-repeat;
    }




.effect8
{
  	position:relative;
    -webkit-box-shadow:0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

